@import '../../../styles/mixins.less';
.sv-header__text {
    color: @color-primary;
}
.sv-btn{
    background-color:@color-primary !important;
}
.sv-title {
    font-family: "Raleway";
    font-weight: 520;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: 16px;
    background-color: transparent !important;
}
.sv-table {
    background-color: white !important;
    padding: 0px !important;
}
.sv-table__cell:not(:first-child) {
    padding-left: 0em !important;
}
.cancel-button{
    border: none;
    border-radius: 1.214em;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 0.5em 2.786em 0.6em;
    text-align: left;
    color: #9932cc;
    // position: absolute;
    // right: 19%;
    // bottom: -131%;
    border: 2px solid #9932cc;
    box-shadow: none;
    
}
// .sv-footer{
//     position: relative !important;
// }